extends layout

block content 
  h1= title 
  form.form(action="/new", method="POST")
    textarea(name="message", cols="30", rows="10") 
    input(type="text", name="name", placeholder="Name")
    button(type="submit") Post