extends layout

block content 
  header 
    h1= title 

  main 
    h2 Write your message
    form.form(action="/new", method="POST")
      textarea(name="message", cols="30", rows="10") 
      input(type="text", name="name", placeholder="Name")
      button(type="submit") Post

    a(href="/") Cancel 