extends layout

block content 
  header 
    h1= title 

  main 
    p.msg-header Write your message
    form.form(action="/new", method="POST")
      input.name-input(type="text", name="name", placeholder="Name")
      textarea.text-input(name="message", cols="20", rows="10", placeholder="Whats on your mind?")
      button.submit-btn(type="submit") Post

    a#cancel(href="/") Cancel 