extends layout

block content
  header 
    h1= title

  main 
    a(href="/new") Create Post 
    each message in messages 
      div.message
        h4= message.text
        p= message.user 
        p= message.added
    
