extends layout

block content
  header 
    h1= title

  main
    a#add(href="/new") Create Post 
    each message in messages 
      div.card
        h2.message-user= message.user
        p.message-text= message.text 
        p.message-added= message.added
    
