:root {
  --blue: #457b9d;
  --red: #e63946;
  --lightgray: rgb(240, 242, 245);
  --gray: rgb(52, 52, 52);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font: 18px Helvetica, Arial, sans-serif;
  background-color: var(--lightgray);
  width: 100%;
  min-height: 100vh;
  position: relative;
}

header {
  background-color: var(--gray);
  color: white;
  padding: 1rem;
}

main {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 0.5rem 3rem;
  border: 2px solid black;
  border-radius: 5px;
  margin: 1rem 0;
  transition: background-color 200ms;
}

#add {
  color: var(--blue);
  border: 2px solid var(--blue);
}

#add:hover {
  color: white;
  background-color: var(--blue);
}

#cancel {
  color: var(--red);
  border: 2px solid var(--red);
}

#cancel:hover {
  color: white;
  background-color: var(--red);
}

.card {
  min-width: 80%;
  color: black;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin: 1rem;
}

.message-user {
  font-size: 1rem;
  width: 100%;
  color: var(--gray);
  padding-bottom: 5px;
  border-bottom: thin solid lightgray;
}

.message-text {
  padding: 10px 0;
}

.message-added {
  font-size: 0.8rem;
  color: gray;
}
